@import './reuse';
@import '@radix-ui/colors/violet.css';
@import '@radix-ui/colors/slate.css';

.app-header {
  background-color: var(--violet-12);
  color: var(--violet-1);
}

.global-search {
  flex-grow: 1;
  max-width: 460px;
  border-radius: 6px;
  outline: none;
  border: none;
  background-color: var(--violet-7);
  font-family: 'Inter', sans-serif;
}
.app-nav {
  a {
    padding: 4px 8px;
    border-radius: 6px;
    text-decoration: none;
    color: var(--violet-8);

    &.active {
      color: var(--violet-1);
      background-color: var(--violet-11);
    }
  }
}

.movie-card {
  width: 320px;
  height: 500px;
  background-color: var(--violet-4);
  border-radius: 6px;

  .img-container {
    width: 100%;
    height: 300px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }

  .summary {
    display: -webkit-box; /* Necessary to use the line-clamp property */
    -webkit-box-orient: vertical; /* Controls the direction of the children along the flexbox/container */
    -webkit-line-clamp: 4; /* Number of lines to display */
    overflow: hidden;
  }

  .card-btn {
    cursor: pointer;
    background-color: var(--violet-7);
    padding: 4px 8px;
    font-weight: 600;
    border-radius: 6px;

    transition: background-color 0.2s;

    &:hover {
      background-color: var(--violet-8);
    }
  }
}
